In [2]:
import pandas as pd
import numpy as np

In [3]:
##Load data from CSV file into a Pandas DataFrame.
df = pd.read_csv("retail_sales.csv")

In [4]:
##Display the first 10 rows of the data to get an overview.
df.head(10)

         Date    Store    Product    Category   Sales  Quantity
0  29-01-2023  Store_D  Product_3  Category_2  430.24        11
1  09-10-2023  Store_B  Product_1  Category_2  212.26        18
2  09-08-2023  Store_C  Product_1  Category_1  538.42         8
3  03-05-2023  Store_B  Product_2  Category_2  670.34         9
4  08-11-2023  Store_A  Product_3  Category_3  562.97        17
5  27-05-2023  Store_E  Product_3  Category_1  251.85        12
6  09-04-2023  Store_C  Product_4  Category_3  660.08         8
7  09-02-2023  Store_D  Product_4  Category_2  388.39         7
8  17-05-2023  Store_D  Product_2  Category_1  164.68         9
9  03-10-2023  Store_E  Product_5  Category_2  424.08         1

In [5]:
#Check for any missing values and handle them appropriately.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      500 non-null    object
 1   Store     500 non-null    object
 2   Product   500 non-null    object
 3   Category  500 non-null    object
 4   Sales     500 non-null    float64
 5   Quantity  500 non-null    int64
dtypes: float64(1), int64(1), object(4)
memory usage: 23.6+ KB

In [6]:
c = df.isna().sum()
print(f'the number of null values are :{c}')

the number of null values are :Date        0
Store       0
Product     0
Category    0
Sales       0
Quantity    0
dtype: int64

In [7]:
#Convert the Date column to datetime format.
df["Date"] = pd.to_datetime(df["Date"], dayfirst=True)
print(df["Date"].dtype)

datetime64[ns]

In [8]:
#Remove any duplicate entries if present
df = df.drop_duplicates()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      500 non-null    datetime64[ns]
 1   Store     500 non-null    object
 2   Product   500 non-null    object
 3   Category  500 non-null    object
 4   Sales     500 non-null    float64
 5   Quantity  500 non-null    int64
dtypes: datetime64[ns](1), float64(1), int64(1), object(3)
memory usage: 23.6+ KB

In [9]:
# Handle outliers in the Sales column using the IQR method by replacing them with the median sales value.
Q1 = df["Sales"].quantile(0.25)
Q3 = df["Sales"].quantile(0.75)
IQR = Q3 - Q1
lb =  Q1 - 1.5 * IQR
ub = Q3 + 1.5 * IQR
df[(df["Sales"] < lb )| (df["Sales"] > ub)].dropna()

Empty DataFrame
Columns: [Date, Store, Product, Category, Sales, Quantity]
Index: []

In [10]:
print(df['Sales'].dtype)

float64

In [11]:
#Calculate the total sales for each store and display the top 5 stores by sales.
df.groupby('Store')['Sales'].sum()

Store
Store_A    52090.36
Store_B    50726.71
Store_C    44523.58
Store_D    45760.32
Store_E    45513.99
Name: Sales, dtype: float64

In [12]:
#Find out which product category has the highest average sales.
s2 = df.groupby('Product')['Sales'].mean()
s2 = s2 = s2.reset_index()
print(s2.max())

Product     Product_5
Sales      497.446531
dtype: object

In [13]:
#Identify the best-selling product in terms of quantity sold.
s3 = df.groupby('Product')['Quantity'].sum().reset_index()
print(s3.max())

Product     Product_5
Quantity         1222
dtype: object

In [14]:
#Use the IQR method to detect outliers in the Quantity column.
Q1 = df["Quantity"].quantile(0.25)
Q3 = df["Quantity"].quantile(0.75)
IQR = Q3 - Q1
lb =  Q1 - 1.5 * IQR
ub = Q3 + 1.5 * IQR
df[(df["Quantity"] < lb )| (df["Quantity"] > ub)].dropna()

Empty DataFrame
Columns: [Date, Store, Product, Category, Sales, Quantity]
Index: []

In [43]:
#Rank the products by total sales in descending order and display the top 10 products.
df = df.sort_values(by = "Sales", ascending = False)

In [45]:
df.head(20)

          Date    Store    Product    Category   Sales  Quantity
469 2023-09-16  Store_B  Product_3  Category_3  998.13         9
364 2023-01-21  Store_E  Product_3  Category_1  996.71         2
88  2023-07-19  Store_D  Product_1  Category_1  995.62        18
126 2023-05-31  Store_A  Product_5  Category_2  994.72        10
487 2023-06-05  Store_D  Product_4  Category_3  992.74         8
336 2023-02-10  Store_B  Product_1  Category_3  991.81         1
490 2023-11-03  Store_E  Product_5  Category_1  990.02         4
418 2023-06-19  Store_A  Product_2  Category_2  989.15         9
247 2023-03-20  Store_A  Product_3  Category_1  986.45         8
127 2023-05-08  Store_B  Product_2  Category_1  985.04         4
387 2023-07-09  Store_D  Product_1  Category_2  983.69        17
462 2023-04-18  Store_A  Product_3  Category_3  980.37        18
281 2023-10-16  Store_E  Product_4  Category_2  979.69        15
393 2023-10-11  Store_C  Product_5  Category_1  979.45        12
245 2023-11-18  Store_B  Product_1  Category_2  974.16        14
361 2023-03-15  Store_A  Product_1  Category_1  973.37         5
49  2023-07-12  Store_A  Product_3  Category_1  970.56         2
35  2023-04-09  Store_C  Product_1  Category_1  967.96         1
422 2023-05-17  Store_B  Product_2  Category_2  966.33         5
431 2023-11-24  Store_C  Product_3  Category_1  965.45        10

In [51]:
# Rank the stores by their average sales amount using the rank() method with the 'min' ranking method for ties.
r = df.groupby("Store")["Sales"].mean()
rnk = r.rank(ascending = False)
print(rnk)

Store
Store_A    1.0
Store_B    2.0
Store_C    4.0
Store_D    3.0
Store_E    5.0
Name: Sales, dtype: float64