In [31]:
import pandas as pd
# loading the dataset
df=pd.read_csv('A.csv')
# inspecting the firsat few lines to check the datastructure of datasset
print(df.head(3))

         Date       Open       High        Low      Close  Adj Close    Volume
0  1999-11-18  32.546494  35.765381  28.612303  31.473534  27.068665  62546300
1  1999-11-19  30.713520  30.758226  28.478184  28.880543  24.838577  15234100
2  1999-11-22  29.551144  31.473534  28.657009  31.473534  27.068665   6577800

In [33]:
print(df["Date"].dtype)

object

In [35]:
# changing the datatype to datetime
df["Date"] = pd.to_datetime(df["Date"])
print(df["Date"].dtype)

datetime64[ns]

In [37]:
# checking for missing values
m = df.isna().sum()
print(m)

Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64

In [39]:
# detecting the outliers in closing price of stock_prices
Q1 = df["Close"].quantile(0.25)
Q3 = df["Close"].quantile(0.75)
IQR = Q3 - Q1
lb =  Q1 - 1.5 * IQR
ub = Q3 + 1.5 * IQR
df[(df["Close"] < lb )| (df["Close"] > ub)]

,Date,Open,High,Low,Close,Adj Close,Volume
66,2000-02-24,72.514305,82.573318,71.888412,76.359085,65.672264,2956300
67,2000-02-25,73.944923,81.500359,73.855507,77.342636,66.518181,2048200
68,2000-02-28,77.342636,78.102646,70.278969,72.246063,62.134861,1675300
69,2000-02-29,72.559013,76.448502,72.469597,74.302574,63.903564,958000
70,2000-03-01,74.749641,79.935623,74.570816,78.057938,67.133362,1037800
...,...,...,...,...,...,...,...
5104,2020-03-05,82.139999,83.250000,79.699997,80.459999,80.255753,2322600
5105,2020-03-06,77.949997,78.900002,76.500000,78.559998,78.360580,2959900
5107,2020-03-10,73.050003,73.620003,69.660004,72.910004,72.724922,3537300
5119,2020-03-26,70.000000,74.449997,69.650002,73.720001,73.532867,3267500
5121,2020-03-30,71.059998,73.180000,71.059998,72.669998,72.669998,1486200

In [51]:
# dropping the outlier
df = df[(df["Close"] > lb )& (df["Close"] < ub)].dropna()

In [59]:
# resampling the data to monthly and weekly frequencies to analyze stock price pattern
df["Date"].resample('W')

TypeError: Only valid with DatetimeIndex, TimedeltaIndex or PeriodIndex, but got an instance of 'Index'