In [5]:
from sqlalchemy import create_engine, MetaData, Column, Integer,String,Float,Sequence
from sqlalchemy.orm import declarative_base
from sqlalchemy.orm import sessionmaker
from sqlalchemy import inspect

#Set up the database and the Base Class
engine=create_engine('sqlite:///company_orm1.db')
Base= declarative_base()

#Define the Employee model 
class Employee(Base):
    __tablename__='employees'
    id=Column(Integer,Sequence('employee_id_seq'),primary_key=True)
    name= Column(String(50))
    age=Column (Integer)
    department=Column(String(50))
    salary=Column(Float)
#Create the table
metadata=MetaData()
metadata.reflect(bind=engine)
Base.metadata.create_all(engine)
employees=metadata.tables['employees']
#Reflect the employees table to retrieve its details
inspector=inspect(engine)
columns=inspector.get_columns('employees') #list of dictionaries
#Print Table Details
print("Table 'employees' Details:")
for column in columns:
    print(f"Column: {column['name']}- Type:{column['type']}")

#Create a session
Session= sessionmaker(bind=engine)
session=Session()
#Add employuee records
employees=[
    Employee(name='Arun', age=30,department='HR',salary=70000),
    Employee(name='Radhika', age=25,department='IT',salary=80000),
    Employee(name='Chetan', age=35,department='Finance',salary=120000),]
session.add_all(employees)
session.commit()
#Query the database
all_employees=session.query(Employee).all()
for emp in all_employees:
    print(f'{emp.id}:{emp.name}-{emp.department}-${emp.salary}')

Table 'employees' Details:
Column: id- Type:INTEGER
Column: name- Type:VARCHAR(50)
Column: age- Type:INTEGER
Column: department- Type:VARCHAR(50)
Column: salary- Type:FLOAT
1:Arun-HR-$70000.0
2:Radhika-IT-$80000.0
3:Chetan-Finance-$120000.0
4:Arun-HR-$70000.0
5:Radhika-IT-$80000.0
6:Chetan-Finance-$120000.0